* {
	box-sizing: border-box;
	border: none;
	margin: 0px;
	padding: 0px;
}

@media only screen and (max-width: 768px){
	#main-container {
		width: 100%;
		height: auto;
		display: block;
/*		border: 1px solid lightblue;*/
		background-color: #000001;
		padding-top: 10px;
	}
	.glb-container {
		width: 100%;
		height: auto;
/*		border: 1px solid lightblue;*/
		color: #ffffff;
		background-color: #000001;
	}
	.glb-button {
		font-family: "Consolas";
		color: #ffffff;
		padding: 5px;
		background-color: transparent;
		border: 1px solid #ffffff;
	}
	.glb-button:hover {
		transition: 0.3s linear;
		color: #000001;
		background-color: #66fcf1;
		border: 1px solid transparent;
	}
	.glb-button:not(:hover) {
		transition: 0.3s linear;
		border-radius: 0px;
	}
	.glb-txt-headsection {
		font-family: "Trebuchet MS";
		font-size: 20px;
		color: #ffffff;
	}
	.glb-txt-description {
		font-family: "Bebas Neue", sans-serif;
		font-family: sans-serif;
		font-size: 12px;
		color: #d0d0d0;
		line-height: 1.25;
	}

	/* 1 - Bilah Navigasi */
	#container-navbar {
		width: 100%;
		height: auto;
		display: block;
		align-items: center;
		justify-content: center;
		padding-left: 5%;
		padding-right: 5%;
	}
	#navbar-left {
		width: 100%;
		height: auto;
/*		border: 1px solid lightblue;*/
		font-family: "Bebas Neue", sans-serif;
		font-size: 14px;
		text-align: center;
		letter-spacing: 3px;
		padding: 5px;
	}
	#navbar-right {
		width: 100%;
		height: auto;
		display: block;
		padding: 5px;
	}
	#navbar-right ul {
		width: 100%;
		height: auto;
		display: inline-flex;
		list-style: none;
	}
	#navbar-right ul li {
		width: 25%;
		height: auto;
		text-align: center;
		border: 2px solid transparent;
	}
	#navbar-right ul li:hover {
		transition: 0.1s lienar;
		border-bottom: 2px solid #66fcf1;
		box-shadow: 0px 1px 0px 0px #66fcf1;
	}
	#navbar-right ul li a {
		font-family: "Trebuchet MS", sans-serif;
		font-size: 12px;
		color: #ffffff;
		text-decoration: none;
	}

	/* 2 - Beranda */
	#container-beranda {
		width: 100%;
		height: auto;
		display: block;
		justify-content: center;
		align-items: center;
		background-color: #000001;
		background-image: none;
		padding-left: 5%;
		padding-right: 5%;
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.wrapper-Beranda-left {
		width: 100%;
		height: auto;
/*		border: 1px solid lightblue;*/
	}
	.wrapper-Beranda-right {
		display: none;
	}
	#txt-Beranda-1 {
		color: #ffffff;
		font-family: "Consolas";
		font-size: 12px;
		margin-bottom: 5px;
	}
	#txt-Beranda-2 {
		color: #66fcf1;
		font-family: serif;
		font-size: 32px;
		margin-bottom: 5px;
	}
	#btn-Beranda-1 {
		width: 100px;
		height: 30px;
		font-size: 14px;
	}
	#btn-Beranda-1:hover {
		border-top-left-radius: 20px;
		border-bottom-right-radius: 20px;
	}

	/* 3 - Tentang */
	#container-tentang {
		width: 100%;
		height: auto;
		display: block;
		justify-content: center;
		background-color: #000001;
		background-image: none;
		padding-left: 5%;
		padding-right: 5%;
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.wrapper-Tentang-left, .wrapper-Tentang-right {
		width: 100%;
		height: auto;
/*		border: 1px solid lightblue;*/
		text-align: center;
	}

	/* 4 - Layanan */
	#container-layanan {
		width: 100%;
		height: auto;
		display: block;
		justify-content: center;
		align-items: center;
		padding-left: 5%;
		padding-right: 5%;
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.wrapper-Layanan-head {
		text-align: center;
/*		border: 1px solid lightblue;*/
	}
	.wrapper-Layanan-body {
		width: 100%;
		height: auto;
		display: block;
		justify-content: center;
		align-items: center;
/*		border: 1px solid lightblue;*/
		padding: 3%;
	}
	.box-Layanan-item {
		width: 70%;
		height: auto;
		display: block;
		border: 1px solid transparent;
		border-radius: 5px;
		background-color: #101010;
		padding: 15px;
		margin: auto;
		margin-bottom: 10px;
	}
	.box-Layanan-item:hover {
		transition: 0.3s linear;
		border: 1px solid #66fcf1;
	}
	.box-Layanan-item img {
		width: 25%;
	}
	.txt-Layanan-title {
		font-family: "Consolas";
		font-size: 16px;
		font-weight: bold;
		color: #66fcf1;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.txt-Layanan-desc {
		font-family: sans-serif;
		font-size: 12px;
		margin-bottom: 10px;
	}
	#btn-Layanan-order {
		width: 75px;
		height: auto;
		border-radius: 5px;
		font-size: 12px;
	}

	/* 5 - Keunggulan */
	#container-keunggulan {
		width: 100%;
		height: auto;
		display: block;
	}
	.wrapper-Keunggulan-left, .wrapper-Keunggulan-right {
		width: 100%;
	}

	/* 6 - Testimoni */
	#container-testimoni {
		width: 100%;
		height: auto;
	}
	.wrapper-Testimoni-body {
		display: block;
	}
	.box-Testimoni-item {
		width: 50%;
		height: auto;
		margin: auto;
		pading: 5px;
		margin-bottom: 10px;
	}
	.img-Testimoni {
		width: 75px;
		height: 75px;
	}
	.txt-Testimoni-name {
		font-size: 16px;
	}
	.txt-Testimoni-quote {
		font-size: 12px;
	}

	/* 7 - Tawaran */
	#container-tawaran {
		width: 100%;
		height: auto;
		display: block;
		background-size: 150%;
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.txt-Tawaran-1 {
		font-size: 24px;
	}
	#btn-Tawaran-order {
		width: 150px;
		height: 33px;
		font-size: 14px;
	}

	/* 8 - Kaki (Footer) */
	#container-footer {
		width: 100%;
		height: auto;
	}
	.txt-Footer-title {
		font-family: "Consolas";
		font-size: 12px;
	}
	.txt-Footer-desc {
		font-size: 10px;
	}
}