/* CSS Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*border: 1px solid white;*/
}

/* Warna */
/* #121212 untuk background */
/* #1B2430 untuk background */
/* #1f2833 untuk kontainer */
/* #66fcf1 untuk lightblue */

/* Konfigurasi Utama */
body {background-color: #1B2430;}
h1, h2, h3, h4, h5, h6, p, span, button, div { font-family: 'poppins', sans-serif; color: white; }
.ruang-kosong { display: block; height: 50px; }
.text-normal { font-size: 13px; font-weight: 300; }
.text-console { font-family: 'consolas'; font-size: 15px; font-weight: 300; }
@keyframes textGlow {
	0% { color: white; text-shadow: 0 0 10px rgba(255, 255, 255, 0.5); }
	50% { color: #66fcf1; text-shadow: 0 0 20px 10px #66fcf1; }
}
@keyframes buttonGlow {
	0% { color: white; box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2); }
	50% { box-shadow: 0px 0px 10px 3px #66fcf1; }
}
@keyframes imageGlow {
	0% { box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }
	50% { box-shadow: 0 0 10px 3px #66fcf1; }
}


/* KONTAINER */
.kontainer {
	display: block;
	width: 96%;
	margin: 2% 2%;
	background-color: #1f2833;
	box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
}


/* NAVIGASI */
.navBar { display: flex; }
.navLogo, .navMenu, .navMenu li, .navSosmedIcon { display: flex; }
/* Navigasi :: Logo */
.navLogo { margin: 10px auto 10px 40px; }
.navLogo h1 { font-size: 40px; cursor: pointer; }
.navLogo span { color: #66fcf1; }
/* Navigasi :: Menu */
.navMenu { margin: 10px auto; }
.navMenu li { list-style: none; }
.navMenu li a {
	margin: auto 10px;
	text-decoration: none;
	font-size: 15px;
	font-weight: 600;
	letter-spacing: 3px;
	color: white;
	/*text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);*/
}
/* Navigasi :: SosmedIcon */
.navSosmedIcon { margin: 25px 40px auto auto; }
.navSosmedIcon span {
	font-size: 30px;
	margin: auto 10px;
	text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
/* Lainnya */
.navMenu li a:hover, .navSosmedIcon span:hover {
	color: #66fcf1;
	text-shadow: 0 0 10px 3px #66fcf1;
	animation-name: textGlow;
	animation-duration: 1s;
}


/* AREA-HOME DAN HOME-KIRI-KANAN */
.area-home { display: flex; justify-items: center; }
.home-kiri { width: 55%; /*height: 400px;*/ }
.home-kanan { width: 45%; /*height: 400px;*/ }
.home-kiri h1 { font-size: 60px; }
.home-kiri .efekKetik { color: #66fcf1; text-transform: capitalize; }
.home-tombol button {
	border: none;
	outline: none;
	background-color: white;
	color: #1B2430;
	padding: 5px 15px;
	font-weight: 500;
	border-radius: 15px;
	margin: auto 10px;
	/*box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);*/
}
.home-tombol button:hover {
	background-color: #66fcf1;
	color: white;
	box-shadow: 0px 0px 7px 3px #66fcf1;
	animation-name: buttonGlow;
	animation-duration: 1s;
}
.home-kiri .text-console, .home-kiri h1, .home-kiri p { margin: auto 40px; }

.profpic {
	border-radius: 50%;
	width: 250px;
	height: 250px;
	object-fit: cover;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	margin: auto auto 10px auto;
}
.profpic:hover {
	box-shadow: 0 0 10px 3px #66fcf1;
	animation-name: imageGlow;
	animation-duration: 1s;
}
.home-kanan h1 {
	text-transform: uppercase;
	font-size: 30px;
	color: #66fcf1;
}
.home-kanan p {
	font-style: italic;
}


/* AREA-SKILLS dan SKILLS-PERCENTAGE */
.area-skills {
	display: block;
	width: 100%;
}
.area-skills h1 {
	text-transform: uppercase;
	font-size: 25px;
	font-weight: 600;
	margin: 20px auto;
}
.area-skills .skills-box {
	display: block;
	background-color: #1f2833;
	width: 50%;
	/*height: 200px;*/
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	padding: 20px;
}
.box-bughunt, .box-webprog, .box-maclearn {
	display: flex;
	width: 100%;
	height: 30px;
	align-items: center;
	/*border: 1px solid green;*/
}
.bar-bughunt, .bar-webprog, .bar-maclearn {
	width: 60%;
	height: 30%;
	border-radius: 15px;
	background-color: #ffffff;
	margin: auto 5px auto auto;
}
.progress { margin: auto auto auto 0; height: 100%; border-radius: 15px; }
.bar-bughunt .progress { width: 60%; background-color: cyan; }
.bar-webprog .progress { width: 50%; background-color: cyan; }
.bar-maclearn .progress { width: 40%; background-color: cyan; }


/* AREA PROJECTS */
.area-projects {
	display: block;
	width: 100%;
}
.area-projects h1 {
	text-transform: uppercase;
	font-size: 25px;
	font-weight: 600;
	margin: 20px auto;
}